$main-color: #3185e7;
$sub-color: #edf9ff;
$small-text: 12px;
$button-size: 40px;
$top: 20px;

.MainPage {
    height: 100%;
    width: 100%;
    background-color: white;

    font-family: "NanumGothic", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: $small-text;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.75);

    overflow: hidden;
    
    // text-align: center;
    // align-items: center;
    
    .Container {
        margin: 0 auto;
        width: 75%;
        display: flex;
        gap: 20px;
    }

    .left-container {
        width: 60%;

        h1 {
            padding-left: 10px;
            font-size: 18px;
            margin: 0;
            font-weight: 1000;
        }

        #word-container {
            
            .WordCloud {
                height: 200px;
            }
        }
    }

    .right-container {
        width: calc(40% - 10px)
    }
}