$main-color: #3185e7;
$sub-color: #edf9ff;
$small-text: 12px;
$button-size: 40px;
$top: 20px;

.MainPage {
    height: 100%;
    width: 100%;
    background-color: white;

    font-family: "NanumGothic", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: $small-text;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.75);

    overflow: hidden;
    
    // text-align: center;
    // align-items: center;
    
    .Container {
        margin: 0 auto;
        width: 75%;
        display: flex;
        gap: 20px;
    }

    .left-container {
        width: 60%;

        h1 {
            padding-left: 10px;
            font-size: 18px;
            margin: 0;
            font-weight: 1000;
        }
    }

    .right-container {
        width: calc(40% - 10px)
    }
}

// .MainPage .Container {
//     display: flex;
//     justify-content: space-around;
//     flex-direction: row;
// }

// .MainPage .Content {
//     padding: 0 5vw;
//     padding-bottom: 10px;
//     // overflow: hidden;
// }
// .MainPage .Content .columnContainer {
//     height: 650px;
//     margin: 10px 10px;
// }
// .MainPage .Content .upperContainer {
//     height: 350px;
//     margin: 10px 10px;
// }
// .MainPage .Content .lowerContainer {
//     height: 250px;
//     margin: 10px 10px;
// }
// .MainPage .Content .leftContainer {
//     width: 750px;
// }
// .MainPage .Content .rightContainer {
//     width: 500px;
// }
// .MainPage #word-container {
//     border: solid 1px;
//     // margin-top: 10px;
//     border-radius: 20px;
//     background-color: #f5f5f5;
// }
