
$primary-color: #3E4F5B;
$secondary-color: #e5e9ed;
$text-color: #202124;
$light-text-color: #5f6368;
$border-color: #f4f4f4e0;

.GPTInteraction {
  background-color: #fff;
  padding:10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // margin-bottom: 20px;
  border: 2px solid;
  margin: 0;
  height: 100%;

  .chat-container {
    height: calc(100% - 50px);
    width: 100%;

  }

  .chatview-container {
    padding: 0;
    text-align: center;
    margin: 0;
    overflow: scroll;
    height: 100%;
    // width: 100%;
    // width: calc(100% - 20px);
  }

  .chat-element {
    background-color: $secondary-color;
    height: auto;
    width: 80%;
    border-radius: 4px;
    margin: 5px 0;
    padding: 10px 10px;
    list-style: none;
  }
  
  .system.chat-element {
    // text-align: center;
    // background: none;
    display: none;
  }
  
  .user.chat-element {
    text-align: right;
    margin-left: calc(20% - 20px);
  }
  
  .assistant.chat-element {
    text-align: left;
  }


  .chat-input {
    display: flex;
    gap: 5px;

    textarea {
      flex: 1;
      border: 1px solid $primary-color;
      border-radius: 4px 0 0 4px;
      padding: 10px;
    }

    button {
      background-color: $primary-color;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 0 4px 4px 0;
      cursor: pointer;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}