$main-color: #3E4F5B;
$main-shadow-color: #667f92;
$sub-color: #f5f5f5;
$shadow-color: rgba(0, 0, 0, 0.1);
$small-text: 12px;
$text-size: 14px;
$button-size: 40px;
// Variables
$primary-color: #1a73e8;
$secondary-color: #e5e9ed;
$text-color: #202124;
$light-text-color: #5f6368;
$border-color: #dadce0;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

#PostDetail {
  width: 100%;

  .postdetail-main-container {
    margin: 0 auto;
    width: 75%;
    display: flex;
    gap: 20px;

    .postdetail-overview {
      width: 65%;
    }
  }
}

.right-container {
  margin-top: 10px;
  width: calc(35% - 20px);
  display: flex;
  flex-direction: column;

  .gpt-container {
    height: 300px;
    margin-bottom: 60px;

    .gpt-header {
      height: 25px;

      
    }
  }

  .links-container {
    padding: 5px 0;
    
    .links-list {
      list-style: none;
      margin: 0;
      margin-top: 5px;
      padding: 10px;
      // padding-left: 10px;
      border-radius: 10px;
      background-color: $shadow-color;
      line-height: 1.5;
      max-height: 74px;
      overflow: hidden;

      a {
        color: $main-color;
        text-decoration: underline;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;

        &:hover {
          color: $main-shadow-color;
        }
  
      }
    }
  }

  .author-bio-container {
    margin-top: 7px;
    max-height: 200px;
    overflow: scroll;
    padding: 0;

    .authors {
      list-style: none;
      padding: 5px 0 0 5px;
      padding-bottom: 0;
      // padding-left: 10px;
      // height: 100px;
      overflow: scroll;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      margin: 0;
      margin-block-start: 0;
      margin-block-end: 0;
  
      li a {
        display: flex;
        text-decoration: none;
        gap: 10px;
        font-weight: 600;
        font-size: 13px;
        align-items: center;
        color: inherit;

        &:hover {
          color: $main-shadow-color;
        }
      }
    }
  }

}
