.upper {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-evenly;
}
.postdetail-overview {
    width: 50%;
    text-align: center;
    justify-content: center;
}
.lower {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-evenly;
}
